body{
	background:url("forgot.jpg")
}
h1{
	font-family:Norwester ; font-size:60px ; color:white
}
h3{
	font-family:Norwester ; font-size:35px ; color:white
}
form{
	font-family:Arial ; font-size:20px ; margin-left:2cm ; color:white
}