body{
	background:url("23072442-background-with-colorful-shopping-bags-discount-concept-vector-illustration-.jpg")
}
h1{
	font-family:Algerian ; font-size:80px ; color:#59096C
}
h3 {
	font-family:Algerian ; font-size:35px ; color:blue
}
form{
	font-family:Arial ; font-size:20px ; color:#59096C
}